/vendor
/node_modules
.env
.phpunit.result.cache
storage/*.key
/public/storage
/public/hot
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/app/public/livewire-tmp/*
/storage/app/private/lead-imports/*
/storage/logs/*

storage/app/public/livewire-tmp/vuONVPLZMR6v5pRqoziAM3Qcleu7Tp-metaQsOASSA0LnBwdHg=-.pptx

storage/app/public/livewire-tmp/D4sZSHeGLlJ3wGadcrNrPH0zDgeC5x-metaQsOASSAzLnBwdHg=-.pptx
storage/app/public/livewire-tmp/hILLBU7WM0qWtPfePQKlSs4CgK7Uy4-metaQsOASSAyIFThuqxQIEjhu6JQIFPhu5AgVOG7sCBOSEnDik5OLCBHSEkgU+G7kCBU4buwIE5IScOKTi5wcHR4-.pptx
storage/app/public/livewire-tmp/Lgjzz3qoQw6wVT1fDPguVqAHGc2m4I-metaQsOASSAzLnBwdHg=-.pptx
storage/app/public/livewire-tmp/MZzFq8DmllKGXkcT5x17gbKXvPONg9-metaQsOASSAyIFThuqxQIEjhu6JQIFPhu5AgVOG7sCBOSEnDik5OLCBHSEkgU+G7kCBU4buwIE5IScOKTi5wcHR4-.pptx
storage/app/public/livewire-tmp/P6RBFKHyPI5AQLfWH9KbPY4zE7WMp0-metaQsOASSA0LnBwdHg=-.pptx
storage/app/public/livewire-tmp/plkbELU44FhfH9ayQlE2bObv6ouNy0-metaQsOASSAyIFThuqxQIEjhu6JQIFPhu5AgVOG7sCBOSEnDik5OLCBHSEkgU+G7kCBU4buwIE5IScOKTi5wcHR4-.pptx
storage/app/public/livewire-tmp/tn6BXak7pGp9OM3ezIl3HHaluwOQQP-metaQsOASSAzLnBwdHg=-.pptx
storage/app/public/lessons/attachments/fr7m9W5icfctf4ZvIFFOc0qRJjRfKbbhZLLSauBr.docx
/public/build
.DS_Store
